
/* my */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.navbar ul li:hover {
  background-color: rgb(180, 14, 14);
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;  
}

li {
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
  display: inline-block;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}



